<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="bower_components/sass-bootstrap/docs-assets/ico/favicon.png">

    <title>Multiple line Replace</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/sass-bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css.css" rel="stylesheet">
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    
    <script src="js.js" type="text/javascript" charset="utf-8"></script>
    
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="bower_components/sass-bootstrap/docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app>
    <div class="container" ng-controller="ReplaceCtrl">

      <div class="page-header">
        <h1>Multiple line Replace</h1>
      </div>

      <div class="row">
        <div class="col-md-12">
          <!-- Imput -->
          <textarea class="full small" ng-model="input"  ng-change="change()" ></textarea>
        </div>
      </div>

      <div class="row">
        <!-- Columns -->
        <div ng-repeat="replace in replaces" class="col-md-{{Math.round(12/(replaces.length+1))}}">
          <strong>${{$index+1}}</strong> <a class="glyphicon glyphicon-sort-by-alphabet" ng-click="sort($index)"></a>
          <textarea class="full" id="replace_{{$index}}" ng-model="replace.text "  ng-change="change()">{{replace.text}}</textarea>
        </div>
        
        <!-- Result -->
        <div class="col-md-{{12-Math.round(12/(replaces.length+1))*replaces.length}} result">
          <strong>Result</strong>
          <textarea class="full" id="result" readonly>{{result}}</textarea>
        </div>
      </div>
      
      <a ng-click="removeReplace()" ><span class="glyphicon glyphicon-minus-sign"></span></a>
      <a ng-click="addReplace()"    ><span class="glyphicon glyphicon-plus-sign"></span></a>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
